{% extends "base.html" %}

{% block title  %}
    List
{% endblock %}

    {% block content %}
        {% for restaurant in restaurants %}
            <a href="{% url 'restaurant-detail' restaurant.id %}">
                <ul>
                    <H1><li>{{restaurant.name}}</li></H1>
                    <li>{{restaurant.description}}</li>
                    <li>{{restaurant.opening_time}}</li>
                    <li>{{restaurant.closing_time}}</li>
                </ul>
            </a>
        {% endfor %}
    {% endblock %}
